main {
  text-align: center;
}

.app-title {
  text-align: center;
  font-family: "SEGA LOGO FONT";
  color: aqua;
  font-size: 48px;
  font-weight: 400;
}

body {
  background: linear-gradient(to left, #1c0054, #00817e);
}
@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

.input {
  display: flex;
  width: 150px;
  height: 40px;
  border: none;
  font-family: "arial";
  font-size: 15px;
  margin: auto;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background: #92c4b2;
  border-radius: 2px;
  outline: none;
}

.img-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 85%;
}

img {
  width: 160px;
  height: 180px;
}

.img-items {
  width: 250px;
  border-radius: 5px;
  background: #8bf4ce;
  transition: transform 0.25s ease-out;
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

.img-items-details {
  width: 300px;
  border-radius: 5px;
  background: #8bf4ce;
  transition: transform 0.25s ease-out;
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

.img-items:hover {
  background: #ffa100;
  transform: scale(1.05);
  object-fit: cover;
  text-align: center;
  cursor: pointer;
}
h3,
h4 {
  text-align: center;
}
.robot-link,
.back-link {
  text-decoration: none;
  color: black;
}

h5 {
  background-color: #ffa100;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  width: 100px;
  border-radius: 5px;
  padding: 5px 5px;
}
